.home-page-container {
    padding: 20px;
    text-align: center;
  }
  
  .quotes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .quote {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quote p {
    font-size: 1.2em;
    margin: 0;
  }
  
  .quote span {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }